@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-deadlock-dark: #121214;
    --color-deadlock-panel: #1e1e24;
    --color-deadlock-amber: #eebb55;
    --color-deadlock-amber-glow: #ffcc00;
    --color-deadlock-green: #66ff99;
    --color-deadlock-red: #ff4444;
}

@layer base {
    body {
        @apply bg-deadlock-dark text-gray-200 antialiased;
        background-image: radial-gradient(circle at 50% 0%, #2a2a35 0%, #121214 70%);
        min-height: 100vh;
    }
}

@layer utilities {
    .text-glow {
        text-shadow: 0 0 10px rgba(238, 187, 85, 0.3);
    }
}